.loadBtn {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: rgb(201, 151, 248);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loadBtn:hover {
  background-color: rgb(167, 120, 234);
}
